/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.this-app {
  color: black;
}

.menu-img {
  margin-top: 3px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.button {
  border: none;
  border-radius: 15px;
  text-align: center;
  background-color: green;
  color: white;
}

.margin-row {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.margin-button {
  margin-left: 10px;
  margin-bottom: 30px;
}